<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.9.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="1.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.JS" version="1.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.1.2" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="0.21.0-pre" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="0.21.0-pre" targetFramework="net45" />
  <package id="Nancy" version="0.17.1" targetFramework="net45" />
  <package id="Nancy.Owin" version="0.17.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Twitter.Bootstrap" version="2.3.2" targetFramework="net45" />
</packages>